# Dependencies
node_modules
client/node_modules

# Production Build Output
dist
client/dist

# Environment variables
.env
.env.local

# Database files
server/marketplace.db
*.db-journal

# System & IDE files
.DS_Store
Thumbs.db
.vscode
.idea
